<%= render 'form' %>
<!-- the form is not sending the data into the params -->

<!-- <form action="/tasks" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type ="text" name="name" placeholder="name of the task" >
  <input type ="text" name="due_date" placeholder="due date of the task">
  <input type ="text" name="priority" placeholder="priority of the task">
  <input type ="submit" value="go">
</form>
 -->
